html{
  background-image:url("pic5.jpeg");
  background-size:cover;
  background-attachment:fixed;
}
body{
 text-align:center;
}
.header{
  background-color:#FFDEAD;
}

.form_deco{
  margin:10% 10%;
  background-color:rgba(255,218,185,0.6);
  width:50%;
  font-size:1.2em;
  border-style:double;
  border-color:#FFDEAD;
}
.form_cont2{
  padding:12px 12px;
}

.inputs{
  width:45%;
  padding: 8px 8px;
  margin: 10px 10px;
  border-radius: 3px;
}
.form_cont{
  position:relative;
  text-align:left;
}
